body {
    background-color: lightblue;
}

.top-right-btn {
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.top-right {
    position: fixed;
    top: 20px;
    right: 20px;
}

.dark-mode {
    background-color: black;
    color: white;
}