body {
    background-color: lightblue;
}

.top-right-btn {
    right: 20px;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.top-right {
    position: fixed;
    top: 20px;
    right: 20px;
}

.groups-btn {
    position: fixed;
    top: 20px;
    right: 140px;  /* Sum of the width of .top-right plus 20px for spacing */
    width: 100px;  /* Matching width for illustration */
    height: 50px;  /* Matching height for illustration */
}