<html lang="en">
<head>
    <title>CSE312 Group Project: Team Innovation</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <script type="text/javascript" src="../static/registration.js"></script>
    <script type="text/javascript" src="../static/functions.js"></script>
</head>
<body>
<h1>Home</h1>
<div class="reg-login-forms">
    <h2>Registration:</h2>
    <form id="registration-form">
        <label for="username">Username:
            <input type="text" name="username" id="username"  placeholder="Your Username">
        </label>
        <label for="password">Password:
            <input type="password" name="password" id="password"  placeholder="Your Password">
            <input type="password" name="password2" id="password2"  placeholder="Enter Your Password Again">
        </label>
        <button type="button" value="sign-up" onclick="register();">Submit</button>
    </form>
    <h2>Login:</h2>
    <form id="login-form">
        <label for="username">Username:
            <input type="text" name="username_login" placeholder="Your username">
        </label>
        <label for="password">Password:
            <input type="text" name="password_login" placeholder="Your password">
        </label>
        <input type="submit" value="login"/>
    </form>

    <br>
    <h2>Posts</h2>
    <form id = "sendpostform">
        <label for="post">
            <input type="text" name="message" id="message" placeholder="Your post message">
        </label>
        <button type="button" value="sendpost" onclick="sendpost();">Send</button>
    </form>



</div>
</body>
</html>