<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="login-forms">
    <form id="login-form">
        <h2>Login</h2>
        <label for="username">Username
            <input type="text" name="username" placeholder="Your username" required>
        </label>
        <label for="password">Password
            <input type="text" name="password" placeholder="Your password" required>
        </label>
        <input type="submit" value="login"/>
    </form>
</div>
</body>
</html>


