<html>
    <head>
        <title>Register</title>
        <script type="text/javascript" src="../static/registration.js"></script>
    </head>
    <body>
        <form id = "form">
            <input type="text" name="username" id="username"  placeholder="Your Username">
            <input type="password" name="password" id="password"  placeholder="Your Password">

            <button type="button" value="sign-up" onclick="register();" >Submit</button>
        </form>
    </body>
</html>